<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ValidIndicator" value="Verdadeiro" />
    <add key="InvalidIndicator" value="Falso" />
    <add key="InvalidLineFormatIndicator" value="Formato Inválido" />
    <add key="IgnoreInvalidLinesIndicator" value="false" />
  </appSettings>
</configuration>